<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>комнаты</title>
</head>
<body>
    <!-- <form action="checkform" method="post"> 
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" placeholder="имя пользователя">
        <label for="roomname">roomname</label>
        <input type="text" name="roomname">
        <input type="submit" value="подтвердить">
    </form> -->
    <form action="{% url 'user_app:sign_in'%}" method="post">
        {% csrf_token %}
        <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
        {{form.username}}
        {{form.username.errors}}
        <label for="{{form.password.id_for_label}}">Пароль</label>
        {{form.password}}
        {{form.password.errors}}
        <div id="eye" onclick="show_password()">eye</div>
        <input type="submit" value="подтвердить">
    </form>

    <script>
        function show_password(){
            let pass = document.getElementById('id_password')
            if (pass.getAttribute('type') === 'password'){
                pass.setAttribute('type','text')
            }
            else{
                pass.setAttribute('type','password')
            }
        }
    </script>
</body>
</html>