{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'vendor/css/chat.css'%}">
    <title>Document</title>
</head>

<body>
    <header>
        <form action="{% url 'chat_app:search_user'%}">
            <input type="text" name="username">
            <input type="submit">
        </form>

        <a href="{%url 'user_app:logout'%}">Выйти</a>
    </header>
    <main>
        <div class="nav-menu">
            <div class="contacts" id="contacts">
                {% for dialog in dialogs %}
                <a class='link-dia' id="{{dialog.dialog_info.id}}" href="?dialog={{dialog.dialog_info.id}}">
                    <div class="contact {% if current_dialog == dialog.dialog_info.id %} active {% endif%}">
                        {{dialog.name}}
                        <img src="{{dialog.dialog_info.avatar.url}}" alt="">
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
        <div class="chat-menu">
            <div class="messages">
                {% if messages %}
                    {% for message in messages%}
                        <div class="message">
                            {{message.message.text}}
                        </div>
                    {%endfor%}
                {% elif messages == None %}
                    Выберите пользователя для общения
                {% else %}
                    У вас пока нет переписки с этим пользователем
                {% endif %}
            </div>
            <form action="{%url 'chat_app:send_message'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{request.user.id}}">
                <input type="hidden" name="dialog_id" value="{{current_dialog}}">
                <input type="text" name="text">
                <input type="submit">
            </form>
        </div>
        <div>
            <a href="{%url 'user_app:settings'%}">Настройки</a>
        </div>
    </main>
    <script type="text/javascript">
        $('.contacts').on('click', '.link-dia', function (e){
            e.preventDefault();
            console.log(e.currentTarget.id)

            $.ajax({
                type:'GET',
                url: "chat/get_messages_list/" + e.currentTarget.id,
                success: function (data){
                    console.log(data)
                }
            })
        })

    </script>
</body>

</html>