<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <label for="conf_id">Введите id конференции:</label>
        <input type="text" name="conf_id" id="conf_id" />
        <button onclick="go_to()">Войти</button>
        <script>
            function go_to() {
                let conf_id = document.querySelector("#conf_id");
                window.location.href = "./" + conf_id.value;
            }
        </script>
    </body>
</html>
